.details {
    
    &__title {
        max-width: 690px;
        width: 100%;
        margin: 0 auto 120px;
        text-align: center;
    }

    &__inner {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
    }

    &__photo {
        @include bg;
        max-width: 289px;
        margin-left: -35px;
        width: 100%;
        height: 308px;
        position: relative;
        margin-right: 50px;
        &::after {
            position: absolute;
            content: '0';
            top: -130px;
            z-index: -1;
            left: 50%;
            transform: translateX(-50%);
            font-weight: 700;
            font-size: 288px;
            color: $yellow;
            line-height: 1;
            text-transform: uppercase;
        }
        &::before {
            position: absolute;
            content: '';
            height: 9px;
            width: 80%;
            left: 20px;
            bottom: -19px;
            background-image: linear-gradient(90deg, #112c4e 0%, rgba(17, 44, 78, 0) 100%);
            filter: blur(10px);
        }
    }

    &__right {
        max-width: 415px;
        width: 100%;
    }

    &__text {
        font-size: 22px;
        line-height: 1.77;
        p {
            @include lineClamp;
            -webkit-line-clamp: 5;
        }
        mark {
            font-weight: 600;
            color: $blue;
            background-color: transparent;
        }
    }

    &__blockquote {
        margin: 0 auto 160px;
        max-width: 936px;
        width: 100%;
        position: relative;
        background-color: rgba($blue, 0.1);
        padding: 30px 80px;
        text-align: center;
        font-size: 20px;
        line-height: 1.5;
        &::after,
        &::before {
            position: absolute;
            content: '';
            background-color: $blue;
            width: 6px;
            height: 50px;
            top: 50%;
            transform: translateY(-50%);
        }
        &::after {
            left: -3px;
        }
        &::before {
            right: -3px;
        }
        mark {
            font-weight: 600;
            background-color: transparent;
            &:nth-of-type(1) {
                color: $red-dark;
                text-decoration: line-through;
            }
            &:nth-of-type(2) {
                color: $blue;
            }
        }
    }

    &__holder {
        display: flex;
        justify-content: center;
        margin-bottom: 140px;
    }

    &__info {
        padding-top: 90px;
    }

    &__images {
        max-width: 470px;
        margin-right: 15px;
        width: 100%;
        @include bg;
        height: 515px;
    }

    &__description {
        max-width: 415px;
        width: 100%;
        position: relative;
        padding-left: 95px;
        line-height: 1.77;
        mark {
            color: $blue;
            background-color: transparent;
            font-weight: 600;
        }
    }
}