.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important; 
    width: 1px !important; 
    overflow: hidden;
}

html,
body {
    height: 100%;
}

.main {
    flex-grow: 1;
}

body {
    font-family: $Montserrat;
    font-weight: 500;
    background-color: $bg;
    font-size: 18px;
    line-height: 1.2;
    color: $grey;
    display: flex;
    flex-direction: column;
    @include max($lg) {
        line-height: 1.5;
        font-size: 16px;
    }
}

.container {
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
    @include max($sm) {
        padding: 0 7.5px;
    }
}

.flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-reset {
    padding: 0;
    cursor: pointer;
    outline: transparent;
    border: none;
    background-color: transparent;
}