
$blue: #307fe2;
$blue-lite: #3197f4;
$bluee: #3fa3ff;
$lite: #a5e1fd;
$black: #1e1e1e;
$grey: #5e5e5e;
$grey-lite: #f6f6f6;
$yellow: #f9e547;
$green: #93da49;
$bg: #e5e5e5;
$red-dark: #a60000;



$xl: 1200;
$lg: 990;
$md: 720;
$sm: 540;
$s: 400;

$Montserrat: 'Montserrat', sans-serif;




